## Visual Studio / .NET
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
*.nupkg
*.snupkg
*.log
project.lock.json
project.fragment.lock.json
artifacts/

## OS
.DS_Store
Thumbs.db
desktop.ini
